/*=====================
 slick slider css start
==========================*/

.slick-slider {
    overflow: hidden;

    &.slick-slider {
        overflow: visible;
    }
}

.no-arrow {

    .slick-next,
    .slick-prev {
        display: none !important;
    }
}


.theme-dots {
    .slick-dots {
        bottom: 10px;

        li {
            button {
                &:before {
                    font-size: 12px;
                }
            }

            &.slick-active {
                button {
                    &:before {
                        color: var(--theme-color);
                    }
                }
            }
        }
    }

    &.slick-dotted {
        &.slick-slider {
            margin-bottom: 0;
        }
    }
}

.slick-default-margin {
    .slick-list {
        margin-left: -12px;
        margin-right: -12px;
    }

    .slick-slide {
        >div {
            margin-left: 12px;
            margin-right: 12px;
        }
    }
}

.slick-sm-margin {
    .slick-list {
        margin-left: -8px;
        margin-right: -8px;
    }

    .slick-slide {
        >div {
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}

.theme-card {
    position: relative;

    &.center-align {
        display: flex;
        height: 100%;
        align-items: center;

        .offer-slider {
            .product-box2 {
                .media {
                    .media-body {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    &.card-border {
        border: 1px solid $round-border;

        h5 {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 30px;
            margin-top: 0;
            margin-bottom: 0;
        }

        .slick-prev,
        .slick-next {
            top: -40px;
        }

        .slick-next {
            right: 30px;
        }

        .slick-prev {
            right: 50px;
        }

        .offer-slider {
            padding-top: 0;
            padding-bottom: 10px;

            img {
                padding: 15px 15px 15px 30px;
            }

            .media {
                .media-body {
                    a {
                        h6 {
                            margin-right: 25px;
                        }
                    }
                }
            }
        }
    }

    h5 {
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 10px;
        margin-top: -5px;

        &.title-border {
            border-bottom: 1px solid $round-border;
        }
    }

    .slick-prev,
    .slick-next {
        top: -35px;

        &:before {
            font: normal normal normal 30px/1 $font-awesome;
            color: $dark-font;
            opacity: 0.6;
        }
    }

    .slick-next {
        right: 0;

        &:before {
            content: "\f105";
        }
    }

    .slick-prev {
        left: unset;
        right: 25px;

        &:before {
            content: "\f104";
        }
    }

    .offer-slider {
        img {
            height: 160px;
            padding: 15px;
        }

        >div {
            .media {
                &:last-child {
                    .media-body {
                        margin-top: 15px;
                    }

                    img {
                        margin-bottom: -15px;
                    }
                }
            }
        }

        .media {
            .media-body {
                .rating {
                    margin-top: 0;

                    i {
                        padding-right: 5px;

                        &:nth-child(-n+4) {
                            color: $star-yellow;
                        }

                        &:last-child {
                            color: $round-border;
                        }
                    }
                }

                a {
                    h6 {
                        margin-right: 61px;
                        line-height: 17px;
                        margin-top: 5px;
                        margin-bottom: 0;
                    }
                }

                h4 {
                    margin-top: 10px;
                    font-weight: 700;
                    color: $dark-font;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.offer-slider {
    .slick-slide {
        line-height: 1;
    }
}

.full-box {
    .theme-card {
        .offer-slider {
            .product-box2 {
                overflow: hidden;

                .title {
                    text-align: center;
                    color: black;
                    text-transform: capitalize;
                    font-weight: 600;
                    margin-bottom: 0;
                }

                .media {
                    img {
                        height: 300px;
                        transform: scale(1);
                        transition: all 0.5s ease;

                        &.h-cls {
                            height: 250px;
                        }
                    }

                    .media-body {
                        a {
                            h6 {
                                margin-right: 20px;
                            }
                        }

                        h4 {
                            font-size: 20px;
                            margin-top: 5px;
                        }

                        .color-variant {
                            li {
                                display: inline-block;
                                height: 20px;
                                width: 20px;
                                border-radius: 100%;
                                margin-right: 5px;
                                margin-top: 15px;
                                transition: all 0.1s ease;
                                margin-bottom: 0;
                                cursor: pointer;
                            }
                        }
                    }
                }

                +.product-box2 {
                    border-top: 1px solid $border-grey;
                }

                &:hover {
                    .media {
                        img {
                            transform: scale(1.03);
                            transition: all 0.5s ease;
                        }
                    }
                }
            }
        }
    }
}

.product-vertical {
    .full-banner {
        padding-top: 75px !important;
        padding-bottom: 75px !important;
    }

    .full-box {
        .theme-card {
            .offer-slider {
                background-color: white;

                .product-box2 {
                    .media {
                        img {
                            height: 240px;
                        }
                    }
                }
            }
        }
    }

    .theme-card {
        .offer-slider {
            >div {
                .media {
                    &:last-child {
                        img {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        &.center-align {
            .offer-slider {
                .product-box2 {
                    .media {
                        .media-body {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}