// utils
@import "utils/variables";
@import "utils/mixins";

//base
@import "base/typography";
@import "base/reset";

// components
@import "components/animation";
@import "components/button";
@import "components/ratio";
@import "components/slick-slider";
@import "components/title";

//layout
@import "layout/ajax-search";
@import "layout/banner";
@import "layout/blog";
@import "layout/cart";
@import "layout/footer";
@import "layout/header";
@import "layout/home-slider";
@import "layout/menu";
@import "layout/modal";
@import "layout/other";
@import "layout/product-box";

//pages
 @import "pages/inner-page";

// themes
@import "themes/theme-setting";
@import "themes/responsive_new";
