.hover-underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f39910;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.product-style-3 .product-box:hover .ribbon {
    display: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.product-style-3 .ribbon {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.product-style-3 .ribbon span {
    font-size: 12px;
    font-weight: bold;
    color: #394868;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: var(--theme-color);
    -webkit-box-shadow: 0 3px 10px -5px #000;
    box-shadow: 0 3px 10px -5px #000;
    position: absolute;
    top: 19px;
    left: -21px;
}
.product-style-3 .ribbon span:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid var(--theme-color);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--theme-color);
}
.product-style-3 .ribbon span:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid var(--theme-color);
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--theme-color);
}

.top-collection {
    margin-top: 70px;
}

.brand-logos {
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 0px;
}

.footer-text {
    text-align: center;
}
/*.height-apply {*/
/*    height : 520px;*/
/*    border: 3px solid #f39910;*/
/*}*/
