/* NAV MENU START */
html, :root{
    scroll-behavior: auto;
}

.hover-underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f39910;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* NAV MENU END */

/* PRODUCT CARD START */
.product-style-3 .product-box:hover .ribbon {
    display: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.product-style-3 .ribbon {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.product-style-3 .ribbon span {
    font-size: 12px;
    font-weight: bold;
    color: #394868;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: var(--theme-color);
    -webkit-box-shadow: 0 3px 10px -5px #000;
    box-shadow: 0 3px 10px -5px #000;
    position: absolute;
    top: 19px;
    left: -21px;
}
.product-style-3 .ribbon span:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid var(--theme-color);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--theme-color);
}
.product-style-3 .ribbon span:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid var(--theme-color);
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--theme-color);
}
.star-color {
    color: #f39910 !important;
}
.unstar-color {
    color: #ddd !important;
}
/* PRODUCT CARD END */

/* TOP COLLECTION START */
.top-collection {
    margin-top: 70px;
}
/* TOP COLLECTION END */

/* BRAND LOGOS START */
.brand-logos {
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 0px;
}
/* BRAND LOGOS END */


/* PRODUCT DETAIL START */
.slider-right-nav.gap-low .slick-slide > div {
    margin: 10px 10px 0 10px;
}
.slider-right-nav .slick-slide > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px 15px 0 15px;
    border: 1px solid #ddd;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.4;
}
.slider-right-nav .slick-slide.slick-current > div {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 1;
}
.slider-right-nav .slick-slide.slick-active {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 1;
}
.slider-right-nav.border-nav .slick-slide > div {
    padding: 4px;
}
.slider-right-nav .slick-slide:first-child > div {
    margin-top: 0;
}
.slider-right-nav .slick-slide:first-child > div {
    margin-top: 15px;
}
/* PRODUCT DETAIL END */

/* FOOTER START */
.footer-style-1 {
    margin-top: 70px;
}

.footer-text {
    text-align: center;
}
/* FOOTER END */

/*.height-apply {*/
/*    height : 520px;*/
/*    border: 3px solid #f39910;*/
/*}*/
